:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --var-background-color: rgb(5, 11, 23);
  --border-color:rgba(255, 255, 255, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-item{
  background-color: var(--var-background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

nav{
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav > .nav-section{
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
}

#nav_logo,
#nav_link{
  flex-basis: calc(100% / 3);
}

#nav_other1,
#nav_other2{
  flex-grow: 1;
}